body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.ui.container.filter-by-rating {
  margin-left: 100px !important;
}

div.ui.multiple.search.selection.dropdown.fi-dropdown {
  margin-left: 90px !important;
}

div.ui.fluid.card.comment {
  margin-top: 15px !important;
}

div.comment-card {
  width: 100%;
}

button.ui.button.starButton {
  color: transparent;
  background-color: transparent;
}

button.ui.button.starButton:hover {
  background-color: gray;
}
